:root {
  --primary-color: #191bb4;
  --secondary-color: #101394;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
}
body {
  position: relative;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
}

/* Title CSS */
.title {
  text-align: center;
  font-size: 1.2em;
  padding-block: 0.5em;
  color: #000000;
  cursor: pointer;
}

/* Navbar CSS */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8em;
  font-size: 16px;
  min-height: 70px;
  padding-block: 0.6em;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.navbar a {
  all: unset;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 6px;
  transition: 0.3s;
  background-color: #191bb4;
}
.navbar a:hover {
  background-color: black;
}
.navbar #menu {
  width: fit-content;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  background-color: #191bb4;
  color: white;
}
.navbar > .icon {
  display: none;
}
#menu,
#random,
#start {
  cursor: pointer;
}

/* Center css */
.center {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; /* Added shadow to make page border free */
  height: 420px;
  width: 410px;
  max-height: 731px;
}
.array {
  display: flex;
  align-items: flex-start;
  min-height: 100%;
  height: 100%;
  padding: 1rem;
  flex-direction: row;
}
.cell {
  display: flex;
  align-items: flex-start;
  flex: 0.5;
  width: 0.000001%;
  margin: 1px;
  background-color: #d6d6d6;
  resize: horizontal;
  position: relative;
}
.cell.done {
  background-color: #08c005;
  border-color: #08c005;
  color: white;
}
.cell.visited {
  border-color: #6184d8;
  background-color: #6184d8;
  color: white;
}
.cell.current {
  border-color: #471292;
  background-color: #471292;
  color: white;
}
.cell.min {
  background-color: #ff1493;
  border-color: #ff1493;
  color: white;
}

.list-container {
  display: flex;
  justify-content: center;


}

table {
  border-collapse: collapse;

}

.list-cell {
  width: 38px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #999;
  transform: all 0.3s ease-in-out;
  background: rgb(244, 213, 99);
}

input {
  outline: none;


}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-buton {
  -webkit-appearance: none;
  margin: 0;

}

@media screen and (max-width: 600px) {
  .navbar {
    gap: 0.4em;
  }
  .title {
    font-size: 17px;
  }
  .navbar *,
  .navbar a {
    font-size: 14px;
  }
  .footer {
    font-size: 18px;
  }
  a#random {
    order: 4;
  }
  a.start {
    order: 5;
  }
}
@media screen and (max-width: 550px) {
  .center {
    width: 95%;
  }
}
