@import url('http://fonts.cdnfonts.com/css/lilly'); 
.App{ 
display: flex; 
flex-direction: column; 
justify-content: center; 
align-items: center; 
gap: 50px; 
padding-top: 30px; 

} 
h1{ 
font-family: 'Lilly', sans-serif; 
font-size: 50px; 
} 
.gen input{ 
height: 35px; 
width: 350px; 
font-size: 20px; 
padding-left: 5px; 
} 
button{ 
position: relative; 
height: 38px; 
width: 100px; 
top: -2px; 
font-size: 18px; 
margin-left: 10px;
border: none; 
color: whitesmoke; 
background-color: forestgreen; 
box-shadow: 2px 2px 5px rgb(74, 182, 74); 
cursor: pointer; 
} 
button:active{ 
box-shadow: none; 
} 
.extra{ 
padding-top: 20px; 
display: flex; 
justify-content: space-around; 
gap: 10px; 
} 
input[type="color"]{
  margin-top: 20px;
}
h5{
  font-size: 1rem;
}
.output-box{ 
display: flex; 
flex-direction: column; 
align-items: center; 
gap: 40px; 
}