@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    transition: all 0.8s;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Fredericka the Great', cursive;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heading {
    font-size: 1.8rem;
    text-decoration: underline;
    letter-spacing: 12px;
    width: 100%;
}

form {
    font-size: 1.2rem;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

form .form-group {
    margin-bottom: 15px;
}

form .form-group label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1rem;
}

.error-message {
    font-size: 1.2rem;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}

.table {
    color: #fff;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.col {
    flex: 1 1 48%;
    margin: 1%;
}

@media (min-width: 600px) {
    #heading {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .col {
        flex: 1 1 31%;
        margin: 1%;
    }
}

@media (min-width: 768px) {
    #heading {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
}