@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif, Georgia, 'Times New Roman', Times, serif;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}


.masonry {
    column-count: 2;
    column-gap: 16px;
}
.my-shadow {
    box-shadow: 0 0 5px rgb(155, 155, 155);
  }
@media (min-width: 640px) {
    .masonry {
        column-count: 3;
    }
}
@media (min-width: 1024px) {
    .masonry {
        column-count: 4;
    }
}
.masonry-item {
    break-inside: avoid;
    margin-bottom: 16px;
}