.featured-small {
  color: #232323;
  font: inherit;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px; 
  background-color: white; 
  height: 15vh; 
}

.featured-small p {
  font-weight: bold;
  font-size: 24px;
  padding-right: 100px;
  padding-top: 10px;

}

.featured-small div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
  }

.featured-small span {
  display: flex;
  align-items: center;
  margin: 20px; 
}

.featured-small img {
  width: 98px;
  height: 68px;
  margin-right: 10px; 
}

#a56789, #b56789{
  width: 200px;
}