@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.headerbar {
  font-family: "Space Grotesk", sans-serif;
}

.homepage {
  background-image: url("/hero_bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  backdrop-filter: blur(2px);
}

.homepage .hero_text {
  font-family: "Space Grotesk", sans-serif;
}
.homepage .hero_text .bigger {
  text-shadow: 3px 3px 0px rgb(255, 248, 233), 5px 5px 0px rgb(224, 183, 121);
}

.homepage .heroimg {
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
}

.pagecont {
  background-image: url("/pages_bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  backdrop-filter: blur(2px);
}
