@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar in Chrome, Safari, and Opera */
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}