<!-- <h1>Submit</h1> -->
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Share your amazing recipies with thousands of web developers accross the world. Fill our form to get started.</p>
    </div>
  </div>
  
  <div class="row justify-content-center">
  
    <!-- in order to display the flash message that recipe has been successfully added -->
    <% if(infoSubmitObj != ''){ %>
      <div class="col-8 alert alert-success" role="alert">
        <%= infoSubmitObj %>
      </div>
    <% } %>
     
    <% if(infoErrorObj != ''){ %>
      <div class="col-8 alert alert-danger" role="alert">
        <%= infoErrorObj.message %>
      </div>
    <% } %>
     

    <div class="col-8">
            <!-- multipart/form-data necessary as we are also putting images -->
      <form action="/submit-recipe" enctype="multipart/form-data" method="POST">
      
        <div class="row g-3">
  
          <div class="col-12">
            <!-- class form-control is a part of bootstrap -->
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">Recipe Name</label>
            <input type="text" name="name" id="name" class="form-control" required>
          </div>
          
          <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" cols="30" rows="4"></textarea>
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">Ingredients</label><br>
            <small>Example: Ice</small>
            <div class="ingredientList">
              <div class="ingredeintDiv mb-1">
                <input type="text" name="ingredients" class="form-control">
              </div>
            </div>
          </div>
  
          <div class="col-12">
            <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredient</button>
          </div>
  
          <div class="col-12">
            <label for="category">Select Category</label>
            <select class="form-select form-control" name="category" aria-label="Category">
              <option selected>Select Category</option>
              <option value="Thai">Thai</option>
              <option value="American">American</option>
              <option value="Chinese">Chinese</option>
              <option value="Mexican">Mexican</option>
              <option value="Indian">Indian</option>
            </select>
          </div>
  
          <div class="col-12">
            <label for="image">Product Image</label>
            <input type="file" class="form-control" name="image" accept="image/*">
          </div>
  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit Recipe</button>
          </div>
  
        </div>
      
      </form>
  
    </div>
  </div>