* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4c531;
}
.container {
  background-color: #ffffff;
  height: 31.25em;
  width: 25em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.8em;
  box-shadow: 0 1.87em 4em rgba(86, 68, 9, 0.3);
}
.buttons-container {
  height: 30%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1em;
}

.download-btn{
  border: 2px solid black;
  position: absolute;
  bottom: 0;
  right: 2%;
  padding: 5px 10px;
  font-size: 1.5rem;
  bottom: 2%;
  background-color: #f4c531;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.download-btn:hover{
  transform: scale(1.04);
  transition: all 0.2s ease-in-out;
}

.buttons-container button {
  font-size: 0.9em;
  gap: 0.5em;
  padding: 0.8em 1em;
  border-radius: 2em;
  border: none;
  background-color: #f4c531;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.emoji-container {
  height: 70%;
  width: 100%;
  position: absolute;
  top: 30%;
}


.emoji {
  height: 14.37em;
  width: 14.37em;
  background-color: #ffd21f;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.eyes,
.eyebrows,
.mouth {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
.eyes {
  top: 5em;
}
.eyebrows {
  top: 3.12em;
}
.mouth {
  top: 7.5em;
}
