.flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
   margin:2rem 2rem  auto 0; 
  width: 100vw;
  height: auto;
  overflow-x:hidden;
}



.but{
  padding: 1rem;
  background-color: #212121;
  color: #fff;
  border-radius: 10px;
  border: black solid;
}

.but:hover{
  color: #212121;
  background-color: #fff;
}