* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat';
}
 
html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
  color: white;
  text-align: center;
}