* {
  background-color: rgba(102, 161, 255, 0.933);
}

.container {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 70%;
  height: 80%;
  background-color: rgb(254, 254, 229);
  border-radius: 1rem;
}

.header {
  position: relative;
  top: 5%;
  left: 20%;
  width: 50%;
  height: 10%;
  border-radius: 0.7rem;
}

.heading {
  text-align: center;
  font-family: bold;
  color: white;
  border-radius: 0.5rem;
  align-items: center;
}

.convert-text {
  position: absolute;
  font-size: 2.4rem;
  color: black;
  background-color: rgb(254, 254, 229);
  font-family: bold;
}

.input {
  position: relative;
  top: 12%;
  left: 5%;
  width: 85%;
  height: 33%;
  background-color: rgb(254, 254, 229);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  border-color: pink;
}

.input-text {
  position: absolute;
  font-size: 2.4rem;
  color: black;
  background-color: rgb(254, 254, 229);
  font-family: bold;
}

input,
textarea {
  background-color: rgb(254, 254, 229);
}

#input-box {
  padding: 8px;
  position: relative;
  top: 40%;
  left: 1%;
  height: 3rem;
  width: 19rem;
  border-radius: 0.6rem;
  font-size: 2rem;
  font-family: bold;
  border: 2px solid darkblue;
}

.output {
  position: relative;
  top: 14%;
  left: 5%;
  width: 88%;
  height: 33%;
  background-color: rgb(254, 254, 229);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.output-box {
  position: relative;
  top: 40%;
  height: 20%;
  background-color: rgb(254, 254, 229);
}

p {
  background-color: rgb(255, 224, 250);
  font-family: bold;
  font-size: 2rem;
  text-align: center;
}