@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url("./fonts/Rubik/Rubik-VariableFont_wght.ttf") format('opentype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root, body, #root, .app-container {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Rubik';
}
.app-container {
  display: flex;
  flex-direction: column;
}
.prompter {
  background-image: url("./images/pattern-bg.png");
  background-position: center;
  background-size: cover;
  z-index: 500;
  flex-grow: 1;
}
.app-title {
  color: white;
}
.search-input {
  border: none;
  border-radius: 15px 0 0 15px;
  font-family: 'Rubik';
  cursor: pointer;
}
.search-button {
  border: none;
  border-radius: 0 15px 15px 0;
  background-color: black;
  cursor: pointer;
}
.ip-info {
  background-color: white;
  border-radius: 15px;
}
.category-head {
  color:hsl(0, 0%, 59%);
}
.category-body {
  color: hsl(0, 0%, 17%);
}

@media only screen 
and (min-width: 320px) and (max-width: 1024px) {
  .prompter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 36.23%;
    min-height: 280px;
  }
  .app-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50%;
    max-height: 50%;
    width: 100%;
  }
  .app-title h1 {
    font-size: x-large;
    font-weight: 700;
  }
  .search-bar {
    width: 86.66%;
    min-height: 40px;
    max-height: 58px;
    display: flex;
  }
  .search-input {
    flex-grow: 1;
    padding: 20px 0 20px 18px;
    font-size: 14px;
  }
  .search-input::placeholder {
    font-size: 0.84em;
  }
  .search-button{
    width: 58px;
  }
  .ip-info {
    min-height: 100%;
    min-width: 86.66%;
    max-width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
  .ip-info-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .category-head {
    font-size: x-small;
    margin-bottom: 5px;
    font-weight: 700;
  }
  .category-body {
    font-size: larger;
    font-weight: 500;
  }
}

@media only screen and (min-width: 1025px) {
  .prompter {
    height: 35%;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 75%;
    max-height: 75%;
    width: 100%;
  }
  .app-title h1 {
    font-weight: 500;
    min-width: 280px;
  }
  .search-bar {
    min-height: 0;
    min-width: 555px;
    display: flex;
  }
  .search-input {
    min-width: 497px;
    padding: 20px;
    font-size: 16px;
  }
  .search-input::placeholder {
    font-size: 16px;
  }
  .search-button {
    min-width: 58px;
  }
  .ip-info-separator {
    min-height: 0;
    height: 50%;
    border-left: 1px solid hsl(0, 0%, 59%);
  }
  .ip-info {
    width: 86.6%;
    min-height: 50%;
    min-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .ip-info-category {
    min-width: 25%;
    height: 60%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .category-head {
    margin-bottom: 20px;
    font-size: smaller;
  }
  .category-body {
    font-size: x-large;
    font-weight: 500;
    overflow: auto;
  }
}