/* mainpage.css */
.button-group {
  display: flex;
}

.dropdown {
  display: none;
  background: none;
  width: 150px;
  margin-left: auto;
}

/* Main Page Styles */

.text-end {
  text-align: end;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.button-group button {
  margin: 0 0.5rem;
}

.custom-dropdown {
  background-color: #222;
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.custom-dropdown:focus {
  border-color: #888;
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.custom-dropdown option {
  background-color: #222;
  color: #fff;
}

@media (max-width: 768px) {
  .button-group {
    display: none;
  }
  .dropdown {
    display: block;
  }
}


.dropdown select{
  background: none;
}