@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap');

body {
   font-family: 'Edu VIC WA NT Beginner', cursive;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   justify-content: center;
}

.screen {
   font-size: 112px;
   background: darkblue;
   color: white;
}

.clear {
   font-size: 112px;
   background: red;
   color: white;
}

.buttons {
   display: flex;
   flex-wrap: wrap;
}

button {
   flex-basis: 25%;
   font-size: 64px;
}

button:hover {
   background: lightpink;
}