* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2b2d42, #8d99ae);
}

.container {
    background-color: #edf2f4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 450px;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    color: #2b2d42;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

#task, #dueDate, #dueTime, #priority {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #8d99ae;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

#addTaskBtn {
    padding: 10px;
    border: none;
    background-color: #2b2d42;
    color: #edf2f4;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addTaskBtn:hover {
    background-color: #8d99ae;
}

#taskList {
    list-style-type: none;
    width: 100%;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #8d99ae;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.task-item:hover {
    transform: scale(1.02);
}

.task-item p {
    margin: 0;
}

.task-item .task-text {
    flex: 1;
    margin-right: 10px;
}

.task-item .task-completed {
    margin-right: 10px;
}

.task-item .task-due-date {
    margin-right: 10px;
    color: #ef233c;
}

.task-item .task-priority {
    margin-right: 10px;
}

.task-item button {
    background-color: #ef233c;
    border: none;
    color: #edf2f4;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-item button:hover {
    background-color: #d90429;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #2b2d42;
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }
}
