body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #434343, #000000);
    color: white;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #2c2c2c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

label, input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background-color: #444;
    margin-bottom: 5px;
    border-radius: 5px;
}

#billContainer img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

@media (min-width: 600px) {
    input, select {
        width: calc(50% - 10px);
        display: inline-block;
    }
    
    button {
        width: calc(100% - 20px);
    }
}