<div
  tabindex="-1"
  class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-screen bg-blur"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal header -->
    <div class="relative rounded-lg shadow popup border-2 border-gray-600">
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600"
      >
        <h3 class="text-xl font-semibold text-white">New Contact</h3>
        <button
          (click)="close()"
          class="end-2.5 text-white bg-transparent hover:bg-red-500 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
        >
          <svg
            class="w-3 h-3"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          class="space-y-4"
        >
          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-white"
              >Name</label
            >
            <input
              type="text"
              id="name"
              formControlName="name"
              class="border-2 border-gray-400/20 bg-transparent focus:outline-none focus:border-gray-400 text-gray-300 text-sm rounded-lg block w-full p-2.5"
              placeholder="John Smith"
            />
            <div class="text-red-500 text-sm">{{ errors.name }}</div>
          </div>

          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-white"
              >Email</label
            >
            <input
              type="email"
              id="email"
              formControlName="email"
              class="border-2 border-gray-400/20 bg-transparent focus:outline-none focus:border-gray-400 text-gray-300 text-sm rounded-lg block w-full p-2.5"
              placeholder="johnsmith@example.com"
            />
            <div class="text-red-500 text-sm">{{ errors.email }}</div>
          </div>

          <div>
            <label for="phone" class="block mb-2 text-sm font-medium text-white"
              >Phone</label
            >
            <input
              type="text"
              id="phone"
              formControlName="phone"
              class="border-2 border-gray-400/20 bg-transparent focus:outline-none focus:border-gray-400 text-gray-300 text-sm rounded-lg block w-full p-2.5"
              placeholder="xxxxxxxxxx"
            />
            <div class="text-red-500 text-sm">{{ errors.phone }}</div>
          </div>

          <button
            type="submit"
            class="w-full tracking-wider text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Save Contact
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
