h1 
{
    font: bolder;
}

#txt ,#translatedText
{
    height: 75vh;
    width:50vw;
    border:2px black solid ;
}

#txt::placeholder , #translatedText::placeholder
{
    font: 2.5em sans-serif;
}
select, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 25%;
    cursor: pointer;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}
textarea {
    resize: none;
    font-size: 18px;
}