.hero {
  padding: 5px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 20px;
  height: 95px; 
}

.logo {
  width: 100px;
  height: auto;
}

.left {
  flex: 1;
  margin-right: -11.5rem;
}

.right {
  flex: 2;
  margin-left: 18.5rem;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  margin-right: 40px;
  margin-left: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.nav-links li a:hover {
  color: #9a1750;
  font-style: italic;
}

.rectangle {
  height: 95px;
  border: #9a1750 2px solid;
  background-color: white;
  border-radius: 10px; /* Add border radius to the navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add border radius */
  margin-top: 20px;
}