body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 400px;
    height: 500px; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto; /* Enable vertical scrolling */
}

h1 {
    font-size: 2em;
    color: #333333;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    color: #555555;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    color: #666666;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}

li {
    background-color: #f8f9fa;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}

li div {
    margin-bottom: 5px;
}

li strong {
    color: #333333;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c82333;
}
