<!-- <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">About Us</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Welcome to our website! We are dedicated to providing the best service possible. Our team works hard to meet your needs and ensure your satisfaction.</p>
      <p>This site was created by <strong>Simran Saini</strong>. We hope you enjoy your experience here!</p>
    </div>
  </div>
   -->

   <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">About Us</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Welcome to Tasty Tales, where foodies explore, make, and share their recipes with the world! This site was created by <strong>Simran Saini</strong>.</p>
      <p class="lead">We hope you enjoy your experience here!</p>
    </div>
  </div>
  