.container 
  {
    display:flex;
    justify-content: center;
  }

#square {
    height: 200px;
    width: 200px;
    background-color: rgb(0,0,0);
    
  }

body{
  background-color: rgb(220, 220, 220);
} 
