@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 70px;
    font-family: "Foldit", sans-serif;
    padding: 100px 106px;
}

body {
  background-image:url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 40%;
  min-width: 100px;
  position: absolute;
  transform: translate(-30%, -30%);
  top: 40%;
  left: 29%;
  padding: 20px 0;
  padding-bottom: 50px;
}

.timer-display {
  position: relative;
  width: 90%;
  left: 1%;
  font-family: "Jersey 10", sans-serif;
  color: #696464;
  font-size: 80px;
  padding: 60px;
  left: 58%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons {
  position: absolute;
  display: flex;
  top: 50px;
  left: 190px;
  width: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.buttons button {
  width: 200px;
  height: 30px;
  background-color:rgb(67, 215, 215);
  color:black;
  border: none;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: large;
  font-style: normal;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 10px;
  left: 0px;
}

.buttons button:nth-last-child(2) {
  background-color: #df4891;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 50px;
  left: 0%;
}

.buttons button:nth-last-child(1) {
  background-color: #7b27ca;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 90px;
  left: 0px;
}

.buttons button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.laps-container{
  width: 65%;
  margin: auto;
  margin-top: 2px;
  left:2px;
  padding: 0 1px;
  text-align: center;
}
.laps-container button{
  width: 200px;
  height: 30px;
  top: 180px;
  left: 190px;
  position: absolute;
  border: none;
  background-color: rgb(223, 211, 30);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: large;
  font-style: normal;
  color: rgb(18, 3, 3);
}
.laps-items{
  position: absolute;
  left: 50%;
  top: 59%;
  width: 40%;
  min-width: 500px;
  transform: translate(-50%);
  /* background-color: #4f11cc; */
  margin-top: 10px;
  padding: 10px 0;
  /* display: none; */
}

.laps-items .items{
  list-style-type: none;
  margin-top: 5px;
  background-color: rgb(223, 190, 217);
  border-radius: 10px;
  text-align: center;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
}

