body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #24252a;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('background.jpg') no-repeat center center fixed; /* Replace with your background image */
    background-size: cover;
    

}

.container {
    text-align: center;
    background-color: #8ac4eb;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(138, 209, 229, 0.1);
    animation: fadeIn 0.8s ease-out;
    background-image: url('cloudbg.avif');
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    color: #060f12;
    font-size: 36px;
}

label {
    display: block;
    margin: 20px 0 10px;
    color: #2225e0;
}

input {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #f6f8fe;
    border: 1px solid #282e56;
    color: #1b1111;
    border-radius: 8px;
}

button {
    background-color: #e775e3;
    color: #fff;
    padding: 15px 30px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease-out;
}

.clear-button {
    background-color: red;
    color: white;
    /* Add any other styles you want for the clear button */
}

button:hover {
    background-color: #3498db;
}

p.result-text {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

p.result-text.success {
    color: #28a745;
}

p.result-text.failure {
    color: #dc3545;
}
