body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#heading {
    font-size: 36px;
    color: transparent;
    background: linear-gradient(90deg, rgba(196,0,0,0.9641106442577031) 0%, rgba(0,214,182,1) 53%, rgba(12,0,255,1) 100%);
    background-clip: text;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
}

#colorPalette {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}

.colorBox {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.colorBox:hover {
    transform: scale(1.05);
}

#resultColor {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}

#resultColor p {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-top: 50px;
}

#colorPaletteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colorPaletteWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}