.UploadPage {
    width: 100%;
    height: calc(100vh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Arial, sans-serif;
}

.SelectFileContainer {
    width: 40%;
    height: 600px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.SelectFileContainer .topSection {
    flex: 10%;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    color: grey;
}

.SelectFileContainer .topSection .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
}

.SelectFileContainer .topSection .leftSide h2 {
    font-weight: 200;
}

.SelectFileContainer .topSection .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

#closeIcon {
    font-size: 30px;
}

.SelectFileContainer .body:not(#Selected) {
    flex: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SelectFileContainer #Selected{
    flex: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.SelectFileContainer .body #uploadButton {
    width: 120px;
    height: 40px;
    background-color: #075FD4;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    display: grid;
    place-items: center;
}

.SelectFileContainer .body #uploadButton:hover {
    cursor: pointer;
}

.SelectFileContainer .body #uploadButton label:hover {
    cursor: pointer;
}

.UploadVideoContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.UploadVideoContainer .titleContainer{
    display: flex;
    flex-direction: column;
}

.UploadVideoContainer input{
    height: 55px;
    border-radius: 7px;
    border: 1px solid grey;
    padding-left: 20px;
    font-size: 18px;
    margin-top: 5px;
}

.UploadVideoContainer .titleContainer input:focus, textarea:focus{
    border: 1px solid blue;
    outline: none;
}

.UploadVideoContainer  label{
    font-weight: 400;
    font-size: 18px;
}

.UploadVideoContainer .descriptionContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.UploadVideoContainer .descriptionContainer textarea{ 
    height: 200px;
    max-height: 200px;
    min-height: 150px;
    min-width: 50%;
    max-width: 98%;
    padding: 15px;
    font-size: 18px;
    margin-top: 5px;
}

.UploadVideoContainer .bottomSection {
    display: flex;
    flex-direction: row;
}

.UploadVideoContainer .bottomSection .thumbnailContainer{
    flex: 60%;
    height: 100%;
}

.UploadVideoContainer .bottomSection .thumbnailContainer #uploadThumbnail{
    margin-top: 20px;
    width: 150px;
    height: 100px;
    border: 1px solid grey;
    border-radius: 5px;
    display: grid;
    place-items: center;
    background-color: lightgrey;
}

.UploadVideoContainer .bottomSection .thumbnailContainer #uploadThumbnail:hover,  .thumbnailContainer #uploadThumbnail label:hover{
    cursor: pointer;
}

.UploadVideoContainer .bottomSection .uploadButtonContainer{
    flex: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.UploadVideoContainer .bottomSection .uploadButtonContainer button:hover{
    cursor: pointer;
    background-color: #0559c7;

}


.UploadVideoContainer .bottomSection .uploadButtonContainer button{
    width: 140px;
    height: 50px;
    background-color: #075FD4;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 3px;



}



