.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}

.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);
  color: black;
}

.routes {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  display: flex;
  color: #6c7293;
  gap: 10px;
  padding: 5px 10px;
  margin-right: 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover {
  color: white;
  background: #0f1015;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.active {
  border-left: 4px solid white;
  color: white;
  background: #0f1015;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #6c729333;
  text-align: center;
  margin-left: 10px;
}

.dashboard {
  color: violet;
  filter: drop-shadow(0 0 5px violet);
}

.angular {
  color: red;
  filter: drop-shadow(0 0 5px red);
}

.frontend {
  color: yellowgreen;
  filter: drop-shadow(0 0 5px yellowgreen);
}

.next {
  filter: drop-shadow(0 0 5px yellowgreen);
  color: #12151e;
}

.node {
  filter: drop-shadow(0 0 5px yellowgreen);
  color: green;
}

.react {
  color: blue;
  filter: drop-shadow(0 0 5px blue);
}

.typescript {
  color: #3178c6;
  filter: drop-shadow(0 0 5px #3178c6);
}

.vanilla {
  color: yellow;
  filter: drop-shadow(0 0 5px yellowgreen);
}

.vue {
  color: green;
  filter: drop-shadow(0 0 5px yellowgreen);
}