* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-container-bg-light:#ffffff;
    --main-container-bg-dark:#000000;
    --title-color-light:#000000;
    --title-color-dark:#ffffff;
    --sidebar-bg-light: #afacac;
    --sidebar-bg-dark: #12151e;
    --sidebar-color-light: #000000;
    --sidebar-color-dark: #fffffff5;
    --search-bg-light:rgb(0, 0, 0);
    --search-bg-dark:rgb(255, 255, 255); 
    --link-color-light:#000000;
    --link-color-dark:#6c7293;
    /* --dashboard-light:violet;
    --dashboard-dark:;
    --angular-light:red;
    --angular-dark:;
    --frontend-light:yellowgreen;
    --frontend-dark:;
    --next-light:#12151e;
    --next-dark:;
    --node-light:green;
    --node-dark:;
    --react-light:blue;
    --react-dark:;
    --vanilla-light:yellow;
    --vanilla-dark:;
    --vue-light:green;
    --vue-dark:; */
    --circle-bg-light:#d3d3d3;
    --circle-bg-dark:#6c729333;


    
    
}

.main-container{
    background-color: var(--main-container-bg-light);
}
.main-container.dark{
    background-color: var(--main-container-bg-dark);
}
.title{
     color:var(--title-color-light);
}
.title.dark{
    color:var(--title-color-dark);
}
.sidebar{
    color:var(--sidebar-color-light);
    background-color: var(--sidebar-bg-light);
}
.sidebar.dark{
    color:var(--sidebar-color-dark);
    background-color: var(--sidebar-bg-dark);
} 
.link{
    color:var(--link-color-light);
} 
.link.dark{
    color:var(--link-color-dark);
} 
.circle{
    background-color:var(--circle-bg-light);
} 
.circle.dark{
    background-color:var(--circle-bg-dark);
} 

/* .search input{
    background: var(--search-bg-light);
}
.search input .dark{
    background: var(--search-bg-dark);
} */

.main-container {
    display: flex;
    /* background-color: rgb(218, 47, 47); */
    color: white;
}


.sidebar {
     /* background: #12151e;
    color: #6c7293;  */
    height: 100%;
    overflow-y: auto;
}

.top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.logo {
    font-size: 18px;
    line-height: 0;
    margin: 0 5px;
}

.bars {
    width: 20px;
    margin: 0px 5px;
}

.hide {
    display: none;
}

.search {
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 30px;
    padding: 10px;
}
.search input {
    border: none;
    margin-left: 10px;
    border-radius: 5px;
     background: rgb(238, 238, 238); 
    color: black;
}

.routes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link {
    display: flex;
    /* color: #6c7293; */
    gap: 10px;
    padding: 5px 10px;
    margin-right: 5px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover {
    color: white;
    background: #0f1015;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.active {
    border-left: 4px solid white;
    color: white;
    background: #0f1015;
}

.link_text {
    white-space: nowrap;
    font-size: 15px;
    margin: auto 0;
}

.menu {
    display: flex;
    color: white;
    padding: 5px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    justify-content: space-between;
}

.menu_item {
    display: flex;
    gap: 10px;
}

.menu_container {
    display: flex;
    flex-direction: column;
}

.menu_container .link {
    padding-left: 20px;
    border-bottom: #fff 0.5px solid;
}

.icon {
    font-size: 1.2rem;
    line-height: 1.2;
    /* color: #bba8bff5; */
}

.icon::before {
    vertical-align: middle;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* background-color: #6c729333; */
    text-align: center;
    margin-left: 10px;
}

.dashboard {
    color: violet;
    filter: drop-shadow(0 0 5px violet);
}

.angular {
    color: red;
    filter: drop-shadow(0 0 5px red);
}

.frontend {
    color: yellowgreen;
    filter: drop-shadow(0 0 5px yellowgreen);
}

.next {
    filter: drop-shadow(0 0 5px yellowgreen);
    color: #12151e;
}

.node {
    filter: drop-shadow(0 0 5px yellowgreen);
    color: green;
}

.react {
    color: blue;
    filter: drop-shadow(0 0 5px blue);
}

.vanilla {
    color: yellow;
    filter: drop-shadow(0 0 5px yellowgreen);
}

.vue {
    color: green;
    filter: drop-shadow(0 0 5px yellowgreen);
}