@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap');

body {
   font-family: 'Edu VIC WA NT Beginner', cursive;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   justify-content: center;
   background-color: black;
}

.clock {
   color: aqua;
   font-size: 100px;
}