body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
    margin: 0;
    background-color: #f8f9fa;
  }
  .container {
    padding: 50px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  h2 {
    font-family: 'Playfair Display', serif;
  }