*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    border: border-box;
}

.main-box{
    background-image: url(bg.jpg);
    background-size: cover;
    height: 100vh;
}

.btn-one i{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 50px;
    line-height: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-one i:hover{
    font-size: 35px;
}

.sidebar-menu{
    position: fixed;
    left: -400px;
    height: 100vh;
    width: 270px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease-in-out;
}

.sidebar-menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: -3px 0 6px rgba(255, 255, 255, 0.3);
    height: 70px;
}

.sidebar-menu .logo a{
    position: absolute;
    text-decoration: none;
    color: wheat;
    font-size: 35px;
    font-weight: 600;
    left: 20px;
    margin-top: 5px;
}

.btn-two i{
    font-size: 20px;
    color: gray;
    line-height: 70px;
    position: absolute;
    left: 245px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-two i:hover{
    font-size: 23px;
}

.sidebar-menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top: 70px;
}

.sidebar-menu .menu li{
    margin-top: 4px;
    padding: 13px 20px;
}

.sidebar-menu .menu ul .first{
    margin-top: 0;
}

.sidebar-menu .menu li:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}

.sidebar-menu .menu a{
    text-decoration: none;
    color: white;
    position: absolute;
    margin-left: 10px;
    font-size: 20px;
}

.sidebar-menu .menu i{
    font-size: 20px;
}

.sidebar-menu .social-media{
    position: absolute;
    left: 18%;
    bottom: 20px;
}

.sidebar-menu .social-media i{
    color: wheat;
    opacity: 0.3;
    font-size: 20px;
    padding: 0 5px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.sidebar-menu .social-media i:hover{
    opacity: 0.7;
    transform: scale(1.2);
}

#check{
    display: none;
}

#check:checked ~ .sidebar-menu{
    left: 0;
}

#check:checked ~ .btn-one{
    display: none;
}

