@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
}

.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  border-radius: 25px;
  padding: 30px;
  border: 1px solid #ffffff40;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.image{
  position: relative;
  height: 150px;
  width: 150px;
}

.image .profile-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 80%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.7);
}

.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.data h2{
  font-size: 33px;
  font-weight: 600;
}

span{
  font-size: 18px;
}

.row{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.row .info{
  text-align: center;
  padding: 0 20px;
}

.buttons{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.buttons .btn{
  color: #080707;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  background: linear-gradient(to left, #ebf858 0%, #f3a647 100%);
}

.buttons .btn:hover{
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.6);
}