* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

form,
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

input[type="text"] {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
    color: #333;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}

#update-btn {
    background-color: yellowgreen;
    display: none;
}

ul {
    list-style: none;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

li {
    padding: 10px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

li:last-child {
    border-bottom: none;
}

.delete,
.edit {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
}

.edit {
    background-color: yellowgreen;
    margin-left: auto;
    margin-right: 1%;
}

.delete:hover {
    background-color: #c62828;
}