.section-13 {
  /* margin-bottom: 500px; */
}

.section-13-container {
  width: var(--width-2);
  margin: auto;
  padding: 12rem 0;
}

.section-13 h1 {
  width: 48rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
  padding-bottom: 8.9rem;
}

.section-13-cards {
  display: flex;
}

.section-13-card {
  width: 21.5%;
  margin-right: 7rem;
}

.section-13-card:last-of-type {
  margin-right: 0;
}

.section-13-card img {
  width: 100%;
}

.section-13-card h2 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.2rem;
  padding: 4rem 0 2rem;
}

.section-13-card p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  margin: 2rem 0;
}

.section-13-card a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
  z-index: 2;
}

.section-13-card a span {
  background-color: var(--white);
}

.section-13-card a img {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: -4rem;
  margin-top: 0.2rem;
  opacity: 0;
  z-index: -2;
  transition: opacity 0.5s ease, margin-left 0.4s ease;
}

.section-13-card a:hover img {
  margin-left: 0.5rem;
  opacity: 1;
}
