body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

h1 {
  font-size:40px;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }
  25% {
      transform: translateX(-25%);
  }
  50% {
      transform: translateX(-50%);
  }
  75% {
      transform: translateX(-25%);
  }
  100% {
      transform: translateX(1);
  }
}

.container {
  margin-top: 100px;
  margin-left: 450px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 600px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 1;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

textarea {
  width: 90%;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  resize: vertical;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.5);
  color: #333;
}

button {
  background-color: white;
  border: none;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000;
  color: #fff;
}

#results {
  margin-top: 20px;
  text-align: left;
}

#results h2 {
  margin-bottom: 10px;
}

#results p {
  font-size: 18px;
  margin: 5px 0;
}

.hidden {
  display: none;
}
