body{
    background: #3c3ab4;
    background: linear-gradient(90deg, #3c3ab4 21%, #da1151 87%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    background-color: rgba(0, 0, 0, 0.3);
    width: 75%;
    height: 300px;
    margin: 100px auto;
    border-radius: 20px;
}

h1{
    color: white;
    opacity: 0.9;
    font-size: 5rem;
    text-align: center;
}

h2{
    font-size: 7rem;
    color: white;
    opacity: 0.8;
    margin: 0 auto;   
    text-align: center; 
}

.main div{
    display: flex;
    margin: 2rem auto;
    justify-content: space-around;
}

button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 5px 7px white;
}



/* responsiveness */

@media (max-width: 800px){
    .main{
        height: 250px;
    }
    h2{
        font-size: 6rem;
    }
    
}

@media (max-width: 690px){
    h2{
        font-size: 5rem;
    }
    .main div{
        flex-wrap: wrap;
        align-items: center;
    }
}