body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem;
}

.intro {
    text-align: center;
    margin-top: 5rem;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#projects .project {
    margin-bottom: 2rem;
}

#projects .project img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 0rem;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea, form button {
    margin-bottom: 1rem;
}

form input, form textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Responsive Design */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .intro h1 {
        font-size: 2rem;
    }
}
