html {
  cursor: none;
}

.cursor {
  z-index: 9999;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: deepskyblue;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s, background-color 0.3s;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px rgba(0, 191, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px 10px rgba(0, 191, 255, 0.9);
  }
}