body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Gradient background */
    color: #333;
}

header {
    background: rgba(0, 0, 0, 0.5); /* Adjust the background for better text readability */
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.recipe {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    margin-bottom: 1.5rem;
    border-left: 8px solid #ff7e5f;
    transition: transform 0.3s;
}

.recipe:hover {
    transform: scale(1.05);
}

.recipe h2 {
    margin-top: 0;
    color: #ff7e5f;
    font-size: 1.5rem;
}

.recipe img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.recipe-content h3 {
    color: #feb47b;
    border-bottom: 2px solid #feb47b;
    padding-bottom: 0.5rem;
}

ul {
    padding-left: 20px;
    margin-bottom: 1rem;
}

ul li {
    margin-bottom: 0.5rem;
}

p {
    margin: 0.5rem 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
