body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  background-color: #3e3e3e;
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #0a0808;
  border-radius: 10px;
  padding: 1rem;
}




.container {
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #0a0808;
  border-radius: 10px;
  padding: 1rem;
}

label {
  margin-bottom: 20px;
  color: #019b32;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 20px;
  width: 150px;
  border: #bbff27
}

button {
  padding: 10px;
  background-color: rgb(249, 50, 86);
  color: white;
  border: none;
  cursor: pointer;
  font-size: medium;
}

button:hover {
  background-color: #c518fa;
}