@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  --s: 300px; /* control the size*/
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
  color: white;
}
.css-button-3d--black {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #343a40;
  box-shadow: 0 5px #212529;
}
.css-button-3d--black:hover {
  box-shadow: 0 3px #212529;
  top: 1px;
}
.css-button-3d--black:active {
  box-shadow: 0 0 #212529;
  top: 5px;
}