@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    margin: 0;
}

.container {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
}

.quote-container {
    text-align: center;
    background: white;
    font-family: "Poppins", sans-serif;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    width: 40%;
    opacity: 0; /* Initial state is fully transparent */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.8s ease, visibility 0.8s ease; /* Transition effects */
}

.quote-container.show {
    opacity: 1; /* Fully opaque */
    visibility: visible; /* Make visible */
}

#quote {
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    background-color: #0056b3;
}
